@import './variables.scss';
@import './functions.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

p {
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #f5f5f5;
}
