@import './variables.scss';
@import './functions.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;

  // outline: 1px dotted coral;
}

p {
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #f5f5f5;
  position: relative;
}

.d {
  &-block {
    display: block !important;
  }
  &-none {
    display: none !important;
  }

  &-sm {
    @include _media-up(sm) {
      &-block {
        display: block !important;
      }
      &-none {
        display: none !important;
      }
    }
  }
  &-md {
    @include _media-up(md) {
      &-block {
        display: block !important;
      }
      &-none {
        display: none !important;
      }
    }
  }
  &-xl {
    @include _media-up(xl) {
      &-block {
        display: block !important;
      }
      &-grid {
        display: grid !important;
      }
      &-none {
        display: none !important;
      }
    }
  }
}
