/*
$breakpoints-list: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
) !default;
*/

$padding: 8px;
$container-max-width: 1200px;
$header-height: 108px;
$header-height-md: 65px;

// $font-size-xsm: clamp(0.75rem, 0.11vw + 0.7rem, 0.8rem);
// $font-size-sm: clamp(0.8rem, 0.11vw + 0.76rem, 0.89rem);
// $font-size-base: clamp(1rem, 0.23vw + 0.92rem, 1.19rem);
// $font-size-md: clamp(1.25rem, 0.4vw + 1.11rem, 1.58rem);
// $font-size-lg: clamp(1.56rem, 0.66vw + 1.32rem, 2.11rem);
// $font-size-xl: clamp(1.95rem, 1.04vw + 1.58rem, 2.81rem);
// $font-size-xxl: clamp(2.44rem, 1.58vw + 1.87rem, 3.75rem);

$color-red: #f00;
$color-blue: #00ddff;
$color-cta: #0878ff;
$color-black: #222;
$color-muted: #999;
$color-muted-lighter: #bfbfbf;

$font-size-xxsm: 10px;
$font-size-xsm: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 28px;
$font-size-xxl: 32px;

$font-weight-light: 400;
$font-weight-base: 500;
$font-weight-bold: 700;
$font-weight-strong: 900;

$font-color-cta: $color-cta;
$font-color-link: #0000ee;
$font-color-muted: $color-muted;
$font-color-black: $color-black;
// $font-color-red: #df0000;
$font-color-red: $color-red;

$font-letter-spacing-xs: 0.15em;
$font-letter-spacing-sm: 0.25em;
$font-letter-spacing-base: 0.35em;
$font-letter-spacing-md: 0.45em;

$border-radius: 6px;
$border-radius-xl: 8px;
