$item-width: 150px;
$item-width-sm: 150px;
$item-width-md: 160px;
$item-width-xl: 200px;

/*
$breakpoints-list: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
) !default;
*/
