@import 'adaptive-scss';

$list: (
  xs: 0,
  smx: 376px,
  sm: 576px,
  xsm: 700px,
  md: 768px,
  lg: 992px,
  xlg: 998px,
  xl: 1200px,
  xxl: 1360px,
  xxxl: 1400px,
) !default;

@mixin media-up($name) {
  @include _media-up($name, $list) {
    @content;
  }
}

@mixin media-down($name) {
  @include _media-down($name, $list) {
    @content;
  }
}

@mixin media-up-portrait($name) {
  @include _media-up-portrait($name, $list) {
    @content;
  }
}

@mixin media-up-landscape($name) {
  @include _media-up-landscape($name, $list) {
    @content;
  }
}

@mixin media-down-portrait($name) {
  @include _media-down-portrait($name, $list) {
    @content;
  }
}

@mixin media-down-landscape($name) {
  @include _media-down-landscape($name, $list) {
    @content;
  }
}

@mixin media-screen {
  @include _media-screen {
    @content;
  }
}

@mixin media-portrait {
  @include _media-portrait {
    @content;
  }
}

@mixin media-landscape {
  @include _media-landscape {
    @content;
  }
}
