html {
  scroll-behavior: smooth;

  *::-webkit-scrollbar {
    width: 6px;
    height: 3px;
  }

  *::-webkit-scrollbar-thumb {
    height: 12px;
    background-color: #dfdfdf;
    border-radius: 5px;
  }
}
