html {
  scroll-behavior: smooth;

  *::-webkit-scrollbar {
    width: 6px;
    height: 3px;
  }

  *::-webkit-scrollbar-thumb {
    height: 12px;
    border-radius: 5px;
    background-color: #dfdfdf;
  }
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;

  // outline: 1px dotted coral;
}

p {
  margin: 0;
}

html,
body {
  position: relative;
  background-color: #fff;
  scroll-behavior: smooth;
}

img {
  user-select: none;
}

.d {
  &-block {
    display: block !important;
  }

  &-none {
    display: none !important;
  }

  &-sm {
    @include media-up(sm) {
      &-block {
        display: block !important;
      }

      &-none {
        display: none !important;
      }
    }
  }

  &-md {
    @include media-up(md) {
      &-block {
        display: block !important;
      }

      &-none {
        display: none !important;
      }
    }
  }

  &-xl {
    @include media-up(xl) {
      &-block {
        display: block !important;
      }

      &-grid {
        display: grid !important;
      }

      &-none {
        display: none !important;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.scroll-anchor {
  scroll-margin-top: 80px;
}
