@import './adaptive-sass-config';

@mixin container {
  max-width: 1295px;
}

@mixin rotate($speed: 5500ms) {
  animation: rotate $speed infinite linear;
}

@mixin shadow {
  border: 1px solid #dfdfdf;
  box-shadow: rgba(149, 157, 165, 20%) 0 8px 24px;
}

@mixin shadow-large {
  box-shadow: rgba(0, 0, 0, 35%) 0 5px 15px;
}

@mixin button-reset {
  padding: 0;
  cursor: pointer;

  &,
  &:hover,
  &:active,
  &:focus {
    border: none;
    background-color: transparent;
  }
}
