@import './adaptive-sass-config.scss';

// sizes
@mixin container {
  max-width: $container-max-width;
}

// font size
@mixin font-xxsm {
  font-size: $font-size-xxsm;
}

@mixin font-xsm {
  font-size: $font-size-xsm;
}

@mixin font-sm {
  font-size: $font-size-sm;
}

@mixin font-base {
  font-size: $font-size-base;
}

@mixin font-md {
  font-size: $font-size-md;
}

@mixin font-lg {
  font-size: $font-size-lg;
}

@mixin font-xl {
  font-size: $font-size-xl;
}

@mixin font-xxl {
  font-size: $font-size-xxl;
}

// base styles
@mixin link($color: $font-color-link) {
  color: $color;
  text-decoration: none;

  &:visited {
    color: $color;
  }
}

// animations
@mixin rotate($speed: 5500ms) {
  animation: rotate $speed infinite linear;
}

// shadows

@mixin shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #dfdfdf;
}

@mixin shadow-large {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin button-reset {
  cursor: pointer;
  padding: 0;

  &,
  &:hover,
  &:active,
  &:focus {
    border: none;
    background-color: transparent;
  }
}
