// Sizes
$padding: 8px;
$header-height: 108px;
$header-height-md: 75px;

// Colors
$color-red: #f00;
$color-blue: #0df;
$color-cta: #0878ff;
$color-black: #222;
$color-muted: #999;
$color-muted-lighter: #bfbfbf;
$font-color-black: $color-black;
