.modal-contain {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;

	width: 100%;
	height: 100%;

	background-color: white;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.inputs-contain {
	width: 123.5%;
	padding: 10% 0 0;

	display: flex;
	flex-direction: row;

	justify-content: space-around;
	margin: 5% 0;
}

.inputs-contain input {
	width: 60px;
	height: 87%;
	padding: 1.69%;
	border-radius: 5px;
	text-align: center;
	border: none;
	margin: 0 0.67% 0;
	max-height: 35px;
	background-color: #efefef;
}

.inputs-contain.second {
	justify-content: center;
	margin-top: 5%;
    padding: 0px;
	height: 7%;
}

.close-bttn {
	width: 123%;
    text-align: right;
	opacity: 0.6;
	background-color: transparent;
	border: none;
	padding-top: 5%;
	margin-bottom: -7%;
}

.close-bttn > img {
	width: 14%;
}


.modal-content {
	height: 60%;
	min-height: 340px;
	width: max-content;
	max-width: 500px;
	max-height: 450px;
	-webkit-box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);

	padding: 48px 45px 0 35px;

	display: flex;
	flex-direction: row;
}

.product-info {
	width: 100%;
	height: max-content;
	margin: auto 0;
	display: flex;
	flex-direction: column;
}

.product-info > * {
	width: 80%;
	margin: 20% 0;
}

.product-info img {
	width: 100%;
	margin: 0 0 40% 0;
}


.left-side {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 3%;
}

.left-side > * {
	width: 100%;
}


.right-side {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 3%;
}

.or-decoration {
	color: #cecece;
	margin: 5% 0;
}

.buy-bttn {
	width: 123%;
	border: 1px solid red;
	border-radius: 5px;
	background-color: rgb(245, 0, 0);
	color: white;
	padding: 3%;
	margin-top: 10%;
	margin-bottom: 0%;
}

.buttons-contain {
	width: 100%;
    display: flex;
    justify-content: space-around;
	margin-bottom: 2%;
}

.buttons-contain > button > img {
	width: 35px;
}

.buttons-contain * {
	outline: none;
	border: none;
	background-color: transparent;
}

.cards-logo {
	margin-right: 14%;
	margin-top: 2%;
}

.cards-logo > img {
	height: 15px;
}

.visa {
	margin-right: 2px;
}

.mobile-info-header {
	display: none;
	width: 120%;
	margin-bottom: -10px;
	margin-top: -20px;
	justify-content: space-between;
	flex-direction: column;
}

.mobile-info-header > * {
	width: max-content;
	display: flex;
	align-items: center;
}

._brend {
	font-weight: 800;
}

._model {
	font-weight: 400;
	color: #cccccc;
}

._coast {
	text-align: center;
	font-weight: 800;
}

.unvalid-input {
	border: 1px solid red;
}

.load {
	opacity: 0.5;
}