.item {
  width: 150px;
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 73px 67px 34px;
  animation-duration: 300ms;
  position: relative;
  /* outline: 1px dotted coral; */
}

@media screen and (max-device-width: 420px) {
  .item,
  .item img {
    width: 130px;
  }
}

.item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 0 4px;
  height: 23px;
  margin: auto 0;
}

.item-count > * {
  width: 16px;
  /* background-color: #c4c4c4; */
  padding: 7px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: initial !important;
  cursor: pointer;
  height: 10px;
  font-weight: 700;
  font-size: 12px;
}

.item-count > *::selection {
  background-color: transparent;
}

.disabled {
  opacity: 0.3;
}

.item-count > *:first-child {
  border-right: 1px solid #c4c4c4;
}

.item-count > *:last-child {
  border-left: 1px solid #c4c4c4;
}

.item.remove-on {
  opacity: 0.5;
}

.item * {
  letter-spacing: 0.25em;
  font-weight: 300;
}

.item-actions {
  display: grid;
  grid-template-columns: 80px 24px;
  grid-gap: 8px;
  padding-top: 8px;
  justify-content: space-between;
  position: relative;
}

.item-actions svg {
  width: 15px;
  height: 15px;
  margin: auto 0;
  position: absolute;
  right: 14px;
  bottom: 14px;
}

.item-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-brend {
  color: #0878ff;
  font-size: 15px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-old-coast {
  color: #f00;
  text-decoration: line-through;
}

.item-coast {
  color: #0878ff;
  font-weight: 700;
  padding-right: 8px;
}

.item-price {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.item-price svg {
  width: 16px;
  height: 16px;
}

.item-model {
  color: #999;
  font-size: 12px;
}

button,
.item-actions button:hover,
.item-actions button:active {
  background-color: transparent;
}

.item-trash {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
}

.item-buy {
  border: 1px solid black;
  border-radius: 5px;
}

.item-delete-confirmation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffffdf;
  display: grid;
  grid-template-columns: 120px;
  justify-content: center;
  grid-template-rows: 1fr 24px;
  animation-duration: 100ms;
}

.item-delete-confirmation__controlls {
  margin-top: -40px;
  height: 24px;
}

.item-delete-confirmation strong {
  margin: auto;
  font-size: 18px;
  color: #f00;
}

.item-delete-confirmation button {
  width: 50%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  color: #000;
}

.item-delete-confirmation button:first-of-type {
  border-radius: 5px 0 0 5px;
  color: #f00;
}

.item-delete-confirmation button:last-of-type {
  border-radius: 0 5px 5px 0;
  border-left: 1px solid transparent !important;
}

.item-delete-confirmation button,
.item-delete-confirmation button:hover,
.item-delete-confirmation button:active {
  border: 1px solid #000;
  background-color: transparent;
  font-size: 14px;
}
