._close_ {
  width: 25px !important;
  height: 25px !important;
  opacity: 0.5 !important;
}

.goods-list-contain {
  height: 100%;
  overflow-y: auto;
  /* background-color: blanchedalmond; */
}

.mobile-shoose-action-modal-contain {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 101;
  background-color: rgba(255, 255, 255, 0.8);

  overflow: hidden;
}

.close-contain img {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

.mobile-buy {
  background-color: red !important;
  border-color: red !important;
  color: white;
}

.buttons-contain {
  /* background-color: mediumturquoise; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* padding: 30px; */
  margin: 0 auto;
  width: 163px;
}

.op03 {
  opacity: 0.3 !important;
}

/* mobile-shoose */
.mobile-shoose-action-modal {
  overflow: hidden;
  display: flex;
  z-index: 102;
  position: fixed;
  flex-direction: column;
  width: 280px;
  align-items: flex-end;
  padding: 15px;
  height: 200px;
  background-color: white;
  left: calc(50% - 155px);
  top: calc(40% - 100px);
}

.mobile-shoose-action-modal button {
  line-height: 35px;
  font-size: 9px;
  letter-spacing: 0.45em;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid black;
  margin-bottom: 16px;
}

.close-bttn-container {
  right: 15px;
  top: 15px;
  position: absolute;
}

.close-bttn-container > img {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

.contain-bttn {
  transition: 1s;
  display: flex;
  flex-direction: column;

  /* width: 180px; */
  height: 200px;
  /* margin-bottom: 30px; */
  margin-top: 10px;

  width: 22.31%;
  min-width: 150px;
}

.goods-list {
  width: 100%;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  /* padding-top: 3%; */
}

.shadowOn {
  -webkit-box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);
}

.items-in-cart {
  margin-left: -11.9%;
  margin-top: 23.8%;
  font-size: 11px;
}
/* 
.shop-controls-info > *:last-child {
  margin-left: 10%;
} */

.shop-controls-info {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: 0 auto;
}
.shop-header-contain {
  padding: 0.7% 0 1%;
  max-width: 1000px;
  opacity: 1;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid rgb(153,153,153); */
}

.info-container {
  width: 100%;
  align-items: center;
  display: flex;
}

.cart-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  width: 40%;
  margin-left: -7%;
  margin-right: 7%;
}

.cart-icon-img {
  margin-left: 5%;
}

.total-price {
  margin-top: 15.3%;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 0.45em;
}

.contain > .shop-controls {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: white;
  padding-bottom: 44px;
}

.contain-content_rules {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-row-gap: 10px;
}

.justifySB {
  justify-content: space-between;
}

button:active {
  border: transparent;
}

.old-price {
  text-decoration: line-through;
}
.new-price {
  margin-left: 5px;
  color: red;
}

.ghost {
  opacity: 0;
}

.new {
  letter-spacing: normal;
  position: relative;
  top: -54%;
  left: 74%;
  text-transform: uppercase;
  width: 51px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  color: red;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid red;
  border-radius: 50%;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.new {
  -webkit-animation: rotating 12s linear infinite;
  -moz-animation: rotating 12s linear infinite;
  -ms-animation: rotating 12s linear infinite;
  -o-animation: rotating 12s linear infinite;
  animation: rotating 12s linear infinite;
}

.buy-all-contain {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buy-all-contain .buy-all {
  border: 1px solid #e86868;

  color: #e86868;
}

.buy-all-contain .buy-all:hover {
  background-color: rgb(227, 38, 54);
  color: white;
  transition: 0.5s;
}

.action-bttn {
  background-color: transparent;
  transition: 0.5s;
  width: 163px;
  height: 43px;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 0.45em;
  font-weight: 300;
  text-transform: uppercase;
}

.contain-bttn:active {
  outline: none;
}
.small-icon {
  width: 100%;
}

.p-info-contain > span {
  letter-spacing: 0.45em;
  display: block;
  margin-top: 10px;
  margin-left: 6px;
}

.p-brend {
  font-size: 15px;
}

.p-model {
  color: #999;
  font-size: 12px;
}

.P_coast {
  font-size: 12px;
}

.P_sale {
  font-size: 12px;
}

.cart-is-empty {
  font-size: 16px;
  margin: 4%;
  color: rgb(153 153 153);
  text-transform: uppercase;
  letter-spacing: 0.45em;
  text-align: center;
  display: block;
}

.add-goods {
  width: 20%;
  margin: 0 auto;
}

.add-goods:hover {
  cursor: pointer;
}

/* CART MODAL */
.contain {
  z-index: 3;
  background-color: #fff;
  max-width: 1000px;
  width: 75%;
  height: 72%;
  max-height: 550px;
  position: fixed;
  padding: 16px 8px 8px;

  left: auto;
  right: auto;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);
  opacity: 1;
  border-bottom: 10px solid #fff;
}

.contain::-webkit-scrollbar {
  width: 5px;
}
.contain {
  -ms-overflow-style: none;
}

._close-bttn {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}
._close-bttn:hover {
  cursor: pointer;
}
/* / CART MODAL */
.fa-angle-down {
  width: 125px;
  height: 125px;
  color: #999;
  position: absolute;
  bottom: 50%;
  left: 48%;
  z-index: 4;
  -webkit-animation: jump 1.5s infinite;
  animation: jump 1.5s infinite;
  transition: 0.7s;
}
@-webkit-keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

/* position, shadow, ect */
.mobile-cart {
  z-index: 3;
  background-color: #fff;
  width: 75%;
  height: 72%;
  top: 70px;
  position: fixed;

  left: auto;
  right: auto;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 32px -4px rgba(0, 0, 0, 0.75);
  opacity: 1;
}

/* content rules */
.mobile-cart {
  display: none;
  grid-template-rows: 100px 1fr;
  grid-row-gap: 10px;
  overflow: hidden;

  border: 15px solid #fff;
}
.mobile-cart > * {
  width: 100%;
}

/* header */
.mc-header {
  height: 15%;
  justify-content: center;
  display: flex;
}

/* header > action-buttons + close */
.mc-action-buttons {
  width: calc(100% - 50px);
  height: 100%;
  margin-left: 25px;
}

.mc-close-icon {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

/* cart-icon + total price */
.mc-cart-icon {
  display: flex;
  flex-direction: row;

  width: 70px;
  height: 25px;
  padding: 5px;

  margin: 0 auto 8px;
}

.mc-items-in-cart {
  margin-top: 20%;
  margin-left: -14%;

  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.45em;
}

.mc-total-price {
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.45em;

  padding-top: 11px;
}

.mc-buy {
  background-color: transparent;
  transition: 0.5s;
  width: 160px;
  height: 43px;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 0.45em;
  font-weight: 300;
  text-transform: uppercase;

  border: 1px solid rgb(232, 104, 104);
  color: rgb(232, 104, 104);
  margin: 0 calc(50% - 80px);
}

/* cart body contain */
.mc-goods-list {
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-evenly;
  overflow-x: hidden;
  grid-gap: 8px;
}

.mc-card-contain {
  margin-bottom: 20px;
}

.mc-glass-img {
  width: 100%;
}

.mc-info-contain > * {
  letter-spacing: 0.45em;
  font-weight: lighter;
  font-size: 11px;
}

.mc-info-brend {
  transition: 0.5s;
  font-size: 14px;
  margin-bottom: 7px;
}

.mc-info-model {
  transition: 0.5s;
  height: 7px;
  margin-bottom: 16px;
  color: rgb(153, 153, 153);
}

.mc-sale-old-price {
  text-decoration: line-through;
}

.mc-sale-new-price {
  color: red;
  margin-left: 10px;
}

.mc-new {
  position: relative;
  top: -92px;
  left: 71%;
  text-transform: uppercase;
  width: 41px;
  height: 41px;
  text-align: center;
  line-height: 41px;
  color: rgb(255, 0, 0);
  font-size: 10px;
  font-weight: 400;
  border: 1px solid red;
  border-radius: 50%;

  transform: rotate(-15deg);

  -webkit-animation: rotating 12s linear infinite;
  -moz-animation: rotating 12s linear infinite;
  -ms-animation: rotating 12s linear infinite;
  -o-animation: rotating 12s linear infinite;
  animation: rotating 12s linear infinite;
}

.mc-hide {
  opacity: 0 !important;
}

@media (min-device-width: 1300px) {
  .contain {
    padding: 16px;
  }
}

@media (max-device-width: 1000px) {
  .shop-header-contain {
    padding: 0.7% 0 6%;
  }
}

@media (max-device-width: 900px) {
  .shop-header-contain {
    border: none;
  }
}

@media (min-device-width: 400px) and (orientation: landscape) {
  .goods-list {
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 150px);
  }
}

@media (min-device-width: 700px) and (orientation: landscape) {
  .goods-list {
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 150px);
  }
}

@media (max-device-width: 502px) and (orientation: portrait) {
  .goods-list {
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 150px);
  }
}

@media (orientation: landscape) and (max-device-width: 494px) {
  .shop-header-contain {
    padding: 0.7% 0 15% 0;
  }
}

@media (max-device-width: 445px) and (orientation: portrait) {
  .mobile-cart {
    display: grid;
  }
  .contain {
    display: none;
  }
}

@media (max-device-width: 335px) and (orientation: portrait) {
  .mc-card-contain {
    width: 80%;
  }
}
